
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Layout_TD.cshtml";
}
<h2>Doimatkhau</h2>
<form action="ChangePassword" method="post" name="Login">

    <div>
        <span>Mật khẩu hiện tại</span>
        <input type="password" name="Pass" id="password_ht" value="@ViewBag.tt" required placeholder="Password"><span>@ViewData["1"]</span>
    </div>
    <div>
        <span>Mật khẩu mới</span>
        <input type="password" name="Pass1" id="password1" required placeholder="Password">
    </div>
    <div>
        <span>Xác nhận mật khẩu</span>
        <input type="password" name="Pass2" id="password2" required placeholder="Password"><span>@ViewData["2"]</span>
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
    </div>
</form>
